*{
  margin: 0;
  padding: 0;
}

#header{
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
  background-color: rgba(31, 97, 174, .5);
  color: rgb(23, 54, 100);
  text-align: center;
  padding: 1%;
}

#main{
  padding: 5%;
  padding-top: 3%;
  font-family: 'Lemonada', cursive;
  font-size: 1.25vw;
  background-color: rgb(203,204,208);
}

#a{
  border-left: solid medium darkblue;
  text-align: left;
  margin: 1% 55% 2% 2%;
  padding-left: 1%;}

#b{
  border-right: solid medium darkblue;
  text-align: right;
  margin: 1% 2% 2% 55%;
  padding-right: 1%;
}
